<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.ysk.mapper.UserMapper">

    <select id="queryActiveUser" resultType="Integer">
        select count(*) from cmfz_user
        <where>
            <if test="condition=='近一周'">DATEDIFF(now(),reg_date)&lt;7</if>
            <if test="condition=='近两周'">DATEDIFF(now(),reg_date)&lt;14</if>
            <if test="condition=='近三周'">DATEDIFF(now(),reg_date)&lt;21</if>
            and status='Y'
        </where>
    </select>

    <select id="queryDistributionUserM" resultType="com.baizhi.ysk.dto.Province">
        select province name,count(*) value
        from cmfz_user
        where sex='M' and status='Y'
        group by province
    </select>
    <select id="queryDistributionUserF" resultType="com.baizhi.ysk.dto.Province">
        select province name,count(*) value
        from cmfz_user
        where sex='F' and status='Y'
        group by province
    </select>

</mapper>
