<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.ysk.controller.mapper.AlbumMapper">
    <resultMap id="rm1" type="Album">
        <id column="aid" property="id"/>
        <result column="atitle" property="title"/>
        <result column="count" property="count"/>
        <result column="cover_img" property="coverImg"/>
        <result column="score" property="score"/>
        <result column="author" property="author"/>
        <result column="broadcast" property="broadcast"/>
        <result column="brief" property="brief"/>
        <result column="pub_date" property="pubDate"/>
        <collection property="children" ofType="Chapter">
            <id column="cid" property="id"/>
            <result column="ctitle" property="title"/>
            <result column="size" property="size"/>
            <result column="duration" property="duration"/>
            <result column="url" property="url"/>
            <result column="upload_date" property="uploadDate"/>
        </collection>
    </resultMap>

    <select id="queryAllAlbum" resultMap="rm1">
        select a.id    aid,
               a.title atitle,
               a.count,
               a.cover_img,
               a.score,
               a.author,
               a.broadcast,
               a.brief,
               a.pub_date,
               c.id    cid,
               c.title ctitle,
               c.size,
               c.duration,
               c.url,
               c.upload_date
        from (select *
              from album limit
                   ${(page-1)*rows},
                   ${rows}) a
                 left join chapter c on c.album_id = a.id
    </select>


    <select id="queryOneAlbum" parameterType="Integer" resultType="Album">
        select id,
               title,
               count,
               cover_img coverImg,
               score,
               author,
               broadcast,
               brief,
               pub_date  pubDate
        from album
        where id = #{id}
    </select>
</mapper>
