<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.ysk.controller.mapper.ArticleMapper">

    <select id="queryAllArticleBySsyj" parameterType="Integer" resultType="Article">
        select a.id,a.title,a.insert_img insertImg,a.content,a.pub_date pubDate
        from article a
                 left join cmfz_user u on a.guru_id = u.guru_id
        where u.id = #{uid}
    </select>

    <select id="queryAllArticleByXmfy" parameterType="Integer" resultType="Article">
        select a.id,a.title,a.insert_img insertImg,a.content,a.pub_date pubDate
        from article a
                 left join cmfz_user u on a.guru_id
             !=
             u
             .
             guru_id
        where u.id=#{uid}
    </select>

</mapper>
